{%extends 'base.html'%}
{% block content %}
<form action="" method="Post">
    {% csrf_token %}
    <div class="form-row">
        <div class="form-group col-11">
            <select class="form-control" name="city_name">
                <option value="">請輸入城市名稱</option>
                <option value="A01-001-00001">台北</option>
                <option value="A01-001-00006">新北</option>
                <option value="A01-001-00009">新竹</option>
                <option value="A01-001-00002">台中</option>
                <option value="A01-001-00003">台南</option>
                <option value="A01-001-00020">金門</option>
                <option value="A01-001-00005">花蓮</option>
                <!-- <option value="parrot">Parrot</option>
                <option value="spider" disabled>Spider</option>
                <option value="goldfish">Goldfish</option> -->
            </select>
            <!-- <input class="form-control" name="city_name" placeholder="請輸入城市名稱"> -->
        </div>
        <div class="form-group col-11">
            <input class="btn btn-dark" type="submit" value="查詢">
        </div>
    </div>
</form>
<table class="table table-hover">
    <thead>
        <tr>
            <th>票券名稱</th>
            <th>價格</th>
            <!-- <th>最早可使用日期</th> -->
            <th>評價</th>
            <!-- <th>來源網站</th> -->
        </tr>
    </thead>
    <tbody>
        {%for ticket in rdata %}
        <tr>
            <td>{{ ticket.title }}</td>
            <td>{{ ticket.price }}</td>
            <!-- <td>{{ ticket.booking_date }}</td> -->
            <td>{{ ticket.star }}</td>
            <!-- <td><img src={{ ticket.source }} style="width:32px; height:32px;" /></td> -->
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}